.component_companies {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    width: 100%;
    align-items: center;
    background-color: var(--gray_silver);
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

.picture_custom {
    height: fit-content;
    width: 70vw;
    filter: grayscale(100%);
    padding: 1rem;
}

@media (min-width: 992px) {
    .picture_custom {
        height: fit-content;
        width: calc(60vw / 4);
        margin: 2rem;
    }
}